In [20]:
mylist=[14, "hello", 967]
mylist.insert(4,"6") #to acess an item it needs to exist
print (mylist)
print(mylist[3]) # how to acess an item in a list

[14, 'hello', 967, '6']
6

In [15]:
import pandas
import numpy # to import a package it needs to be in lower cases

In [26]:
print("python errors") #print written in lowercase 
# need to use parentheses

python errors

In [28]:
mydictionnary={'True':"hello",'False':"bye", '3':"python"}
mydictionnary['True'] #the key needs to be written in the right form

'hello'

In [32]:
i=14
while i<78:
    print(i)
    i+=1 #correct indentation

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [33]:
it=iter([1,2,3]) 
next(it)
next(it)
next(it)
#the next() function can't go beyond the iterator items.

3

In [35]:
15+15
#operation was applied to an object of an inappropriate type.

30

In [37]:
str('python') # function's argument was of an inappropriate type.

'python'

In [40]:
python = 'python' #object is found
print(python)

python

In [48]:
x=19/1